* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #4f4f4f;
}

model-viewer{
    width:100vw;
    height:100vh;
    background:radial-gradient(
        circle at center,
        #666666 0%,
        #4d4d4d 70%,
        #3a3a3a 100%
        );
    }
}
