*{

    margin:0;

    padding:0;

    box-sizing:border-box;

}

body{

    width:100vw;

    height:100vh;

    overflow:hidden;

    background:#4f4f4f;

}

model-viewer{

    width:100%;

    height:100%;

}
